.header_channel {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    gap: 15px;
}

.poster_image {
    border-radius: 50%;
    max-width: 150px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.separate_line {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 2px;
    border-radius: 10px;
    background-color: #e5e5e5;
    
}

.group_videos {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    row-gap: 25px;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.video {
    color: black;
    text-decoration: none;
}

.video img {
    border-radius: 10px;
    width: 100%;
    max-height: 150px;
}

.video p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.video h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}