.header {
    max-height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_items {
    display: flex;
    align-items: center;
    gap: 10px;
}
