.main {
    display: flex;
    width: 100%;
    gap: 10px;
}

.main_area {
    width: 100%;
    margin-left: 25px;
    margin-top: 10px;
}

.main_area h1 {
    font-size: 1.7em;
    margin-top: 10px;
}

.main_video {
    width: 100%;
    max-width: 1000px;
    max-height: 500px;
    border-radius: 10px;
}

.central_areas {
    display: flex;
    gap: 10px;
}

.profile img, .comentario img {
    max-width: 50px;
    border-radius: 50%;
}

.profile {
    display: flex;
    gap: 50px;
}

.comentario {
    display: flex;
    /* align-items: ; */
    gap: 10px;
    margin-top: 20px;
}

.video {
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
}

.video h4 {
    margin-top: 0;
    margin-bottom: 3px;
}

.video p {
    font-size: 0.9em;
    margin: 0;
}

.video img {
    min-width: 150px;
    max-width: 200px;
    max-height: 100px;
    min-height: 80px;
    border-radius: 10px;
}